/* sections/ValueProposition.module.scss */
.wrapper {
  background: var(--color-text-light);
  padding: 4rem 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center; 
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-body-text);
  padding-top: 3rem ;
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-text-light);
  text-transform: capitalize;
}

@media (max-width: 768px) {
.title {
    font-size: 1.5rem;
    font-weight: 600;
  padding-top: 1rem ;

}
.grid {
 display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.wrapper {
  background: var(--color-text-light);
  padding: 1rem 2rem;
}

}