@import "tailwindcss";

:root {
  --color-primary: #6E61FF;
  --color-body-text: #324A6D;
  --color-accent: #DAC3FF;
  --color-tertiary: #F1F6F0;
  --color-secondary: #109F9F;
  --color-background: #DCF8E5;
  --color-text-light: #FFFFFF;
  --color-text-dark: #000000;
  --color-text-gray: #282A2C;
}

body {
  background: var(--color-tertiary);
  color: var(--color-text-dark);
  font-family: Arial, Helvetica, sans-serif;
}
