.button {
  background-color: var(--color-body-text);
  color: var(--color-text-light);
  padding: 1rem 2.5rem;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.2s ease;
  text-decoration: none;
  display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;


  &:hover {
    background-color: var(--color-background);
    color: var(--color-secondary);
  }
}
