.logo {
  display: flex;
  align-items: center;
  background-color: var(--color-tertiary);
  img {
  background-color: var(--color-tertiary);
    @media (max-width: 768px) {
      width: 140px; /* smaller logo on mobile */
    }
  }
}
